
  .component-welcome {
      
      text-decoration: none;
      background-color: transparent;
      margin-top: 10rem;
      display: flex;
      padding-right: -30px;
      align-items: flex-end;
      flex-direction: column;
      @media screen and (min-width:1024px) {
         
          
      }
  }
.text-white{

  color:antiquewhite;
  position: absolute;
  font-weight:bold;
  justify-content: center;
  letter-spacing: 12px;

}
 

.head-mesero {
 position: relative;
 width: 96%;
 height: 60px;
 background-color: #000;
 /* border: solid #F0C24B 3px; */
 margin-top: 20px;
 margin-left: 25px;
 border-radius: 10px;
 display: flex;
 flex-direction: row;
 align-items: center;

}
.head-mesero::after{
  content: "";
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #ed5b07 0%,
  #c8f445 33%, #f1e614 70%, #87f836 100%);
  width:100.8%;
  background-size: 1500% 1500%;
  height: 70px;
  transform: translate(-5px, -5px);
  border-radius: 10px;
  z-index:-1;
  animation: animation 4s ease infinite;
  
  }
  @keyframes animation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
  }
  .historial{
 
    position: absolute; 
    /* display: flex; */
    
    margin-top: -1.2rem; 
    /* justify-content:flex-end;
    align-items:flex-end; */
    left: 6rem;
    border:greenyellow 2px solid;
    border-radius:10px;
    text-decoration: none;
   
  }
  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {



    .text-white{
      font-weight:bold;
      justify-content: center;
      letter-spacing: 5px;
        };

    .historial{  

    display: flex;
    left: 50rem;
    justify-content:flex-end;
    align-items:flex-end;
    border:greenyellow 2px solid;
    border-radius:10px;
    text-decoration: none;


  }
}