
*{
  margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
 
}

body {
   
  background-image :url(./img/hamburguesa1.png) ;
  background-size: auto;
  width: 100%;
    
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
}

.cont-menu{
  background-color: transparent;
  border: solid #F0C24B 3px;
  border-radius: 50px 50px 50px 50px;
  width: 96%;
  height: 35rem;
  margin: 1% 1% 1% 2%;
}
.App {
  text-align: center;
}

.main-order{
  border: solid #573f03 2px;

}
.orderContent{
  font-family: sans-serif;
  position: relative;
  left: 10rem;
  bottom: 28rem;
  background-color:#ffc107;
  color:black;
  width: 50%;
  height: 40%;
  margin-left:30%;
  margin-top: -110px;
  font-family: sans-serif;
  border: solid #573f03 2px;
  border-radius: 10px;

}
.boton-pedido {
  display: flex;
  margin-left: 1rem;
}


.menu2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 0%;
  margin-left: 6%;
  width: 100%;
  
    
 }


.component-welcome{
  display: flex;
}



.logo-welcome {
border-radius: 48%;
width: 20%;
margin:0;
border: none;
@media screen and (min-width:1024px) {
    width: 270px;
}
   
}

.logo{
  width: 20%;
  margin: auto;
}

.conten-button{
display: flex;
flex-direction: row;
justify-content:space-between;
}

.boton-welcome{
  position: relative;
  right: 10rem;
 
}

.welcome-text{
  display: flex;
  flex-direction: row;
  position: relative;
  right: 5rem;
  color: blanchedalmond;
}

.btn {
       
  background-color:black;
  color:yellowgreen;
  letter-spacing: 1px;/* espacio entre letras*/
  font-weight:bold;
  text-align: center;
  border-radius: 5px;
  margin-top: 1.5rem;
 }

 .cont-order{
   display: flex;
 }

.logo-basura{
  width: 15%;
  height:15%;
  background: transparent;
  margin-left:-5rem ;
  cursor: pointer;

}
.pp-pedido{
   display: flex;
  
 }
 .pedido{
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
   margin-top: 1%;
   margin-left: 5%;
 }

.total{
  position: relative;
  left: 18rem;
  margin-right: 40%;
  color: black;
  font-family: sans-serif;
}
.logo-restar{
  background-color: transparent;
   width: 12%;
  height: 12%;
  cursor: pointer;
  
}

.cant{
  margin-left:3rem ;
}
.add{
  margin-left:6rem ;
}
.product{
  width: 120%;
  margin-left:-5rem ;
}
.subtotal{
  padding-right: 2rem;
  margin-left:-5rem ;
}
.cliente{
  position: relative;
  width:10% ;
  bottom:26.5rem ;
  left: 60rem;
  transform: scale(0.98);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.308);
  background-color:black;
  color:yellowgreen;

}
.orden{
  position: relative;
  width:10% ;
  bottom:25rem ;
  left: 14rem;
  transform: scale(0.98);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.308);
  background-color:black;
  color:yellowgreen;
}