

* {
  font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
h1, h2, h3{
margin: 0.5rem 0;
}

h1{
  font-size: 1.5 rem;
}

h2{
  font-size: 1.2rem;
}

h3{
  font-size: 1rem;
}

a{
  text-decoration: none;
}

.row{
  display: flex;
  justify-content: space-between;
  
}

.col-1{
  flex:1;
}
.col-2{
flex:2;
}

.block{
  background-color:transparent;
  padding: 1rem;
  margin:0.5rem;
  border-radius: 0.5rem;
  
}
.row.center{
align-items: center;
}

.logo-welcome{
  border-radius: 50%;
  width: 15%;
  margin-top: 20rem;
  margin-right: 13rem;
  border: none;
  @media screen and (min-width:1024px) {
      width: 230px;
  }
     
}

 .text-white{
  color:antiquewhite;
  position: relative;
  right:5rem
}


body {
   
  background-image :url(./img/hamburguesa1.png) ;
  background-size: auto;
  width: 100%;
    
 
}

.cont-menu{

  background-color: transparent;
  border: solid #F0C24B 3px;
  border-radius: 50px 50px 50px 50px;
  width: 96%;
  height: 35rem;
  margin: 1% 1% 1% 2%;
}
.App {
  text-align: center;
}
.mainOrden{
 
 border: solid #573f03 2px;
 margin: 1% 6% 1% 2%; 
}

.orderContent{
  overflow: auto;
  background-image:-webkit-gradient(50%);
  background-color:#ffc107;
  color:black;
  width: auto;
  height:auto;
  font-family: sans-serif;
  border: solid #573f03 2px;
  border-radius:  20px 50px 50px 20px;

}


.menu2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 0%;
  margin-left: 6%;
  width: 100%;
      
 }


.component-welcome{
  display: flex;
}

.logo-welcome {
border-radius: 48%;
width: 20%;
margin:0;
border: none;
@media screen and (min-width:1024px) {
    width: 270px;
}
   
}

.logo{
  width: 20%;
  margin: auto;
}

.conten-button{
display: flex;
flex-direction: row;
justify-content:space-between;
}

.boton-welcome{
  position: relative;
  right: 10rem;
  color: #fff;
  text-align: none;
  border:3px solid #f1b606;
  border-radius: 10px;
}
.boton-welcome:hover{
  animation: pulsate 1s
  ease-in-out
}
@keyframes pulsate{
  0%{
    box-shadow: 
    0 0 25px #f37210,
    0 0 50px #f1c2c2;
  }
}



.welcome-text{
  display: flex;
  flex-direction: row;
  position: relative;
  margin-right: 3rem;
  color: white;
  font-weight:bold;
  letter-spacing: 10px;
  text-shadow: rgb(243, 245, 242) 0 0, rgb(243, 244, 242) 0 0;
  transition: text-shadow 200ms;
}
.welcome-text:hover{
  text-shadow: rgb(239, 241, 241) -6px 0, rgb(212, 217, 217) 6px 0;
}

.btn {
  background-color:black;
  color:yellowgreen;
  letter-spacing: 1px;/* espacio entre letras*/
  font-weight:bold;
  text-align: center;
  border-radius: 5px;
  margin-top: .5rem; 
 }

 .cont-order{
   display: flex;
   margin-left: -2rem;
 }

.logo-basura{
  width: 15%;
  height:15%;
  background: transparent;
  margin-left:-1rem ;
  cursor: pointer;

}
.pp-pedido{
   display: flex;
   justify-content:space-between;
   
 }

 .pedido{
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  margin-left: 5%;
 }

.total{
  position: relative;
  left: 10rem;
  margin-right: 40%;
  color: black;
  
}
.logo-restar{
  
  width: 12%;
  height: 12%;
  margin-left: -2rem;
  cursor: pointer;
  
}

.cant{
  margin-left:5rem ;
}
.restar{
  margin-left:6rem ;
}
.product{
  width: 120%;
  margin-left:-8rem ;
  
}
.subtotal{
  padding-right: 2rem;
  margin-left:-5rem ;
}
.cliente{
  transform: scale(0.98);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.308);
  background-color:black;
  color:yellowgreen;
  margin-left: -1rem;
  /* margin: 1% 1% 1% 2%; */

}

.boton-pedido {
  margin: 1% 1% 1% 2%;
  
}

.orden{
  position: relative;
  width:10% ;
  bottom:25rem ;
  left: 20rem;
  transform: scale(0.98);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.308);
  background-color:black;
  color:yellowgreen;
  
}
.tabla{
  display: flex;
  flex-direction: row;
  
}

.menu-cocina {
  display: flex;
  justify-content: row;
}
.orders-cocina {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 30rem;
}
.orders-pedidos{
  background-color:black;
  position:relative;
  flex-direction: column;
  flex: 2;
  width: auto;
  height: auto;
  border:#ffc107 3px solid;
  padding: .2rem;
  margin: 1rem;
  border-radius: 1rem;
  justify-content: flex-end;
}

.btn-cocina{
  display:flex;
  align-items: flex-end;
  justify-content:flex-end
}

ul{
  margin-top: 2rem;
}
.pa-boton-status{
  display: flex;
  margin: .3rem;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  border:greenyellow 2px solid;
  border-radius:10px;
  color:white;
  
}
.boton-status {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 1% 1% 2% 2%;
 
 
}
