@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}



body{
  background-color: #573f03;
  background-repeat: no-repeat;
  font-size: contain;
  background-attachment: fixed;
  background-position: 82% 60%;
  text-align: center;
  
}

.cont-menu-1-y-2{
  background-color: transparent;
  border: solid #F0C24B 6px;
  border-radius: 150px 0 150px 0;
  width: 96%;
  height: 37.2em;
  margin: 1% 1% 1% 2%;
}

.cont-menu{
  background-color: transparent;
  border: solid #F0C24B 6px;
  border-radius: 0px 0 150px 0;
  width: 96%;
  height: 28em;
  margin: -5% 1% 1% 2%;
}


.App {
  text-align: center;
}


h1{
  font-family: 'Satisfy';
  color:#C5F2ED;
  font-size: 540%;
  margin: 3% 0% 3% 5%;
  text-align: center;
  margin-right: 2%;
  
}

h2{
  background-color: #61dafb;
  color: rgb(67, 52, 3);
  font-size: 5em;
}
.content-Button{
  display: flex;
  flex-direction: column;
  margin:-40% 70% 0 0;
  font-family: 'Satisfy';
}

.btnMesa{
  background-image: url(../public/img/texturaRed.png);
  border: solid black 3px;
  border-radius: 10px;
  padding: 0.5% 30% 0.5% 30%;
  margin: 16% 0 0 40%;
  font-family: 'Satisfy';
  font-size: 2em;
}

.btnMesa:hover{
  background-image: url(../public/img/texturaBrown.png);
  
}

.btnCocina{
  background-image: url(../public/img/texturaBrown.png);
  border: solid black 3px;
  border-radius: 10px;
  padding: 0.5% 25% 0.5% 25%;
  margin: 16% 0 0 40%;
  font-family: 'Satisfy';
  font-size: 2em;
}

.btnCocina:hover{
  background-image: url(../public/img/texturaRed.png);
}

.winpy{
  width: 40%;
  margin-top: 8%;
  margin-right: 10%;
}

.content-ButtonBack{
  text-align: end;
  
}

.backBtn{
  width: 7%;
  margin: -24% 5% 0 0;

}

.background-mesa-cocina{
  width: 98%;
  height: 530px;
  background-image: url('../public/img/fondomesacocina.jpg');
  background-size: contain;
  margin-left: 1%;
  margin-top: 1%;
  border: solid #EC683B 7px;
  border-radius: 10px 10px 110px 10px;
  z-index: 100;
  
  
}

.form-control{
  width: 38.5%;
  border: solid #222 2px;
  margin: -9% 0  0 59.5%;
  box-shadow:2px 2px 5px #573f03;
  z-index: 1;
 
}


 #menu1, #menu2{
  width: 70%;
  height: 100%;
  margin-top: 0%;
  margin-left: 9%;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index:1;
  
  
  
  
 }
   
  
 
.btn-danger{
  margin-left:-40%;
  width: 19%;
  background-color: #573f03;
  border: solid #EC683B 4px;
}

.btn-danger:hover{
  background-color: #EC683B;
  
}


.btn-warning{
  width: 30%;
  margin-top:1%;
  background-color: #5E4C1F;
  color:#FFFBF2;
  box-shadow:2px 2px 5px #573f03;
}


.bloc-tabs {
  display: flex;
  margin: 3% 0 0 1%;
  width: 100%;
  
}

.tabs {
  padding: 15px;
  text-align: center;
  width: 18%;
  height: 30px;
  background-color: #573f03;
  color:#F0C24B;
  border: solid #573f03 2px;
  font-weight: bold;
  font-family: 'Satisfy';
  font-size: 140%;
  cursor: pointer;
  margin:  0 0 0 0.5%;
  box-sizing: content-box;
  position: relative;
  box-shadow:2px 2px 5px #573f03;
  /* outline: none; */
  
}

.tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
  box-shadow: #573f03;
 
}

.active-tabs  {
  background-color:#F0C24B;
  color:#222;
  border-bottom: 1px solid #EC683B;
  font-weight: bold;
  font-family: 'Satisfy';
  font-size: 140%;
  box-shadow:2px 2px 5px #573f03;
}

.active-tabs::before {
  /* content: ""; */
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 1px;
  
 
 
}

button {
  border: solid #5E4C1F 5px;
  border-radius: 10px;
  

  
}
.content-tabs {
  flex-grow : 1;
}
.content {
  background: #573f03;
  padding: 0px;
  width: 100%;
  height: 1%;
  display: none;
  
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
  width: 100%;
  background-color: transparent;
 
}

.T{
  background-color: transparent;
  width: 10%;
  margin:0;
  padding:0;
 
  
}


#iconAdd, #iconRest, #iconDelete{
  width: 25%;
}

.orderContent{
  background-color: #F0C24B;
  width: 56%;
  height: 62%;
  margin: 4% 0 0 42%;
  font-family: 'Satisfy';
  font-size: 1em;
  border: solid #573f03 2px;
  border-radius: 10px;
  z-index: 100;
  box-shadow:2px 2px 5px #573f03;
  overflow: auto;
  
  
}
 
thead{
  text-align: center;
  font-size: 1em;
}
th{
  font-family: 'Satisfy';
  width: 15,5%;
 

}


#btnEnviar{
  margin-left: 40%;
  box-shadow:2px 2px 5px #573f03;
  font-family: 'Satisfy';
  font-size: 1.2em;
}

.btn-remove{
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
}

.tfoot{
  text-align: right;
  margin-right: 10%;
}

